@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

      
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
#header2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #header1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:  #6c3c1c;
  }
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    padding: 20px;
    grid-gap: 10px;
grid-row: auto;
  }
  
  .content-proyectos{
    color: #fff;
    text-align: center;
    font-size: 3rem;
  
  }
  .gallery img{
    width: 100%;
  object-fit: cover;
  
  height: 100%;
  }

   img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.overflow:nth-child(1){
   overflow: hidden;
    grid-row: 1/3;
    grid-column: 1/3;
    }
    .overflow:nth-child(2){
        grid-row: 1/3;
        grid-column: 3/6;
        overflow: hidden;
        }
        .overflow:nth-child(3){
            grid-row: 3/4;
            grid-column: 1/6;
            overflow: hidden;
            }
            
         
            .overflow:nth-child(4){
                    grid-row: 4/5;
                    grid-column: 1/3;
                    overflow: hidden;
                    }
                
                    .overflow:nth-child(5){
                        grid-row: 4/5;
                        grid-column: 3/6;
                        overflow: hidden;
                      
                        }
img:nth-child(1){
    grid-row: 1/3;
    grid-column: 1/3;
    }
    img:nth-child(2){
        grid-row: 1/3;
        grid-column: 3/6;
        }
        img:nth-child(3){
            grid-row: 3/4;
            grid-column: 1/6;
            }
            
         
                img:nth-child(4){
                    grid-row: 4/5;
                    grid-column: 1/3;
                    }
                
                    img:nth-child(5){
                        grid-row: 4/5;
                        grid-column: 3/6;
                      
                        }
                      